@import-normalize;

.App {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 0;
}