@use 'src/styles/mixins.scss';

.cart {
  position: fixed;
  top: 93px;
  right: 60px;
  padding: 10px;

  cursor: pointer;
  z-index: 5;

  @include mixins.vp-1023 {
    right: 15px;
    bottom: 50px;
    top: unset;
  }
}